<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1024">
  <title>Sarah &amp; Julien 2015</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fonts/rupture.css">
  <link rel="stylesheet" href="/css/sj2015.css">
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/sj2015.js"></script>
</head>
<body class="loading">
<div class="container">

  <section class="emission">
  <canvas id="canvas" width="800" height="200" class="visualisation"></canvas>

  <p class="controls">
    <a href="" class="control play"><i class="glyphicon glyphicon-play"></i></a>
    <a href="" class="control stop hidden"><i class="glyphicon glyphicon-stop"></i></a>
  </p>


<script type="text/javascript">
    window.requestAnimFrame = (function(){
      return  window.requestAnimationFrame       ||
              window.webkitRequestAnimationFrame ||
              window.mozRequestAnimationFrame    ||
              function(callback, element){
                window.setTimeout(callback, 1000 / 60);
              };
    })();
    window.AudioContext = (function(){
        return   window.AudioContext || window.webkitAudioContext || window.mozAudioContext;
    })();
    // Global Variables for Audio
    var audioContext;
    var audioBuffer;
    var sourceNode;
    var analyserNode;
    var javascriptNode;
    var audioData = null;
    var audioPlaying = false;
    var isPaused = false;
    var sampleSize = 1024;  // number of samples to collect before analyzing data
    var amplitudeArray;     // array to hold time domain data
    // This must be hosted on the same server as this page - otherwise you get a Cross Site Scripting error
    var audioUrl = "/upload/audio/best_of_the_union.mp3";
    // Global Variables for the Graphics
    var countPid = 0;
    var canvasWidth  = 800;
    var canvasHeight = 200;
    var ctx;
    $(document).ready(function() {
        ctx = $("#canvas").get()[0].getContext("2d");
        // the AudioContext is the primary 'container' for all your audio node objects
        try {
            audioContext = new AudioContext();
        } catch(e) {
            alert('Web Audio API is not supported in this browser');
        }
        // When the Start button is clicked, finish setting up the audio nodes, play the sound,
        // gather samples for the analysis, update the canvas
        $(".play").on('click', function(e) {
            e.preventDefault();

            $('.play').addClass('hidden');
            $('.stop').removeClass('hidden');

            // Set up the audio Analyser, the Source Buffer and javascriptNode
            setupAudioNodes();
            // setup the event handler that is triggered every time enough samples have been collected
            // trigger the audio analysis and draw the results
            javascriptNode.onaudioprocess = function () {
                // get the Time Domain data for this sample
                analyserNode.getByteTimeDomainData(amplitudeArray);
                // draw the display if the audio is playing
                if (audioPlaying == true) {
                    requestAnimFrame(drawTimeDomain);
                }
            }
            // Load the Audio the first time through, otherwise play it from the buffer
            if(audioData == null) {
                loadSound(audioUrl);
            } else {
                playSound(audioData);
            }
        });
        // Stop the audio playing
        $(".stop").on('click', function(e) {
            e.preventDefault();
            sourceNode.stop(0);
            audioPlaying = false;
            $('.stop').addClass('hidden');
            $('.play').removeClass('hidden');
        });
    });
    function setupAudioNodes() {
        sourceNode     = audioContext.createBufferSource();
        analyserNode   = audioContext.createAnalyser();
        javascriptNode = audioContext.createScriptProcessor(sampleSize, 1, 1);
        // Create the array for the data values
        amplitudeArray = new Uint8Array(analyserNode.frequencyBinCount);
        // Now connect the nodes together
        sourceNode.connect(audioContext.destination);
        sourceNode.connect(analyserNode);
        analyserNode.connect(javascriptNode);
        javascriptNode.connect(audioContext.destination);
    }
    // Load the audio from the URL via Ajax and store it in global variable audioData
    // Note that the audio load is asynchronous
    function loadSound(url) {
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.responseType = 'arraybuffer';
        // When loaded, decode the data and play the sound
        request.onload = function () {
            audioContext.decodeAudioData(request.response, function (buffer) {
                audioData = buffer;
                playSound(audioData);
            }, onError);
        }
        request.send();
    }
    // Play the audio and loop until stopped
    function playSound(buffer) {
        sourceNode.buffer = buffer;
        sourceNode.start(0);    // Play the sound now
        //sourceNode.loop = true;
        audioPlaying = true;
    }
    function onError(e) {
        console.log(e);
    }
    function drawTimeDomain() {
        clearCanvas();
        for (var i = 0; i < amplitudeArray.length; i++) {
            var value = amplitudeArray[i] / 256;
            var y = canvasHeight - (canvasHeight * value) - 1;
            ctx.fillStyle = '#ff7333';
            ctx.fillRect(i, y, 1, 4);
        }
    }
    function clearCanvas() {
        ctx.clearRect(0, 0, canvasWidth, canvasHeight);
    }
</script>

  </section>
  <div class="photo-credits">
    Merci à <a href="https://www.facebook.com/lanuitnousattendra">Charlotte Bouniot</a> ! — Vous pouvez <a href="/upload/audio/best_of_the_union.mp3">télécharger le mp3</a>
  </div>
</div>
</body>
</html>