<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1024">
  <title>Sarah &amp; Julien 2015</title>
  <link rel="stylesheet" href="/fonts/rupture.css">
  <link rel="stylesheet" href="/css/sj2015.css">
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/sj2015.js"></script>

  <meta name="description" content="Les photos, l'émission et le jeu du Mariage de Julien et Sarah." />
  <meta property="og:title" content="Sarah et Julien – 18 Juillet 2015">
    <meta property="og:description" content="Les photos, l'émission et le jeu du Mariage de Julien et Sarah.">
    <meta property="og:image" content="http://julienetsarah.smwhr.net/img/default.png">
    <meta property="og:url" content="http://julienetsarah.smwhr.net/">
    <meta property="og:type"      content="website">
    <meta property="og:site_name" content="Sarah et Julien – 18 Juillet 2015"/>
</head>
<body class="loading">
<div class="container">

  <section class="invitation">
    <div class="languette">
      <div class="infos">18 juillet 2015</div>  
    </div>
    <div class="ticket">
      <div class="esper"></div>
      <div class="person sarah"><span class="name">Sarah</span></div>
      <div class="person julien"><span class="name">Julien</span></div>
      
    </div>
    <div class="home-menu">
      <a href="/travel">Jeu</a> – <a href="/photos">Photos</a> – <a href="/audio">Émission</a>
    </div>
  </section>

</div>
</body>
</html>