<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1024">
  <title>Sarah &amp; Julien 2015</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fonts/rupture.css">
  <link rel="stylesheet" href="/css/sj2015.css">
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/sj2015.js"></script>
</head>
<body class="loading">
<div class="container">

  <section class="photos">
    <div id="mariage-photos" class="carousel slide" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
      {% for photo in photos %}
        <div class="item{% if default==photo %} active{%endif%}" data-src="{{photo}}">
          <div class="carousel-caption">
            {{photo}}
          </div>
        </div>
      {% endfor %}
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#mariage-photos" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#mariage-photos" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <script>
    $('#mariage-photos').carousel({interval:false});

    function draw_slide(cur_slide){
      var img = cur_slide.data("src");
      window.history.pushState(img, "Photo "+img, "/photos/"+img);
      if(cur_slide.find('.single_photo').length == 0){
        cur_slide.append("<div class='single_photo' style='background-image:url(/p/"+img+")'></div>");
      }
    }
    $('#mariage-photos').on('slide.bs.carousel', function (elt) {
      var cur_slide = $(elt.relatedTarget);
      draw_slide(cur_slide);
    })
    $(document).ready(function(){
      draw_slide($("#mariage-photos .item.active"));
    })
    </script>
    
  </section>
  <div class="photo-credits">
    Merci à <a href="http://luciesassiat.com/">Lucie Sassiat</a> pour les photos !<br>
    Vous pouvez regarder les photos en <a href="/audio">écoutant le podcast de la soirée</a>
  </div>
</div>
</body>
</html>