<!DOCTYPE html>
<html lang="en" manifest="/travell.manifest">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1024">
  <link rel="apple-touch-icon" href="/img/apple-icon.png">
  <link rel="shortcut icon" href="/img/apple-icon.png" type="image/x-icon" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>Sarah &amp; Julien 2015</title>
  <link rel="stylesheet" href="/fonts/rupture.css">
  <link rel="stylesheet" href="/css/sj2015.css">
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/sj2015.js"></script>
  <script src="/js/fastclick.js"></script>
  <meta property="og:title" content="Sarah &amp; Julien 2015">
  <meta property="og:description" content="Aide Sarah et Julien à faire avancer l'avion qui les emmènera faire un petit tour des États-Unis !">
  <meta property="og:image" content="http://julienetsarah.smwhr.net/img/og-image.png">
  <meta property="og:url" content="http://julienetsarah.smwhr.net/travel.html">
</head>
<body>
<div class="container">

  <canvas id="travel" class="travel-map" width="980" height="660"></canvas>

  <div class="win-text">Bravo !</div>
  <a href="#" class='personne julien' data-turn="julien"></a>
  <a href="#" class='personne sarah' data-turn="sarah"></a>

  <a href="#" class="replay">Recommencer</a>

  <div class="expl-text">Tape alternativement et frénétiquement sur Julien puis Sarah (ou sur les touches J et S) pour faire avancer leur avion,<br> attention aux vents contraires !</div>

</div>


<script>
$(function() {
    FastClick.attach(document.body);
});
</script>


<script>

    //t : current
    //b : start
    //c : change
    //d : duration
      Math.easeInOutQuad = function (t, b, c, d) {
        t /= d/2;
        if (t < 1) return c/2*t*t + b;
        t--;
        return -c/2 * (t*(t-2) - 1) + b;
      };

      Math.easeInOutSine = function (t, b, c, d) {
        return -c/2 * (Math.cos(Math.PI*t/d) - 1) + b;
      };


      Math.bezier = function(t, s, f, c){
        return (1 - t)*(1 - t)*s + 2 * (1 - t)*t*c + t*t*f;
      };

      Math.casteljau = function (points, t0) {
          var n = points.length - 1; // number of control points
          var b = [];          // coefficients as in De Casteljau's algorithm
          var res1 = [];       // first curve resulting control points
          var res2 = [];       // second curve resulting control points
          var t1 = 1 - t0;
          
          // multiply point with scalar factor
          var pf = function(p, f) {
              var res = [];
              for(var i = 0; i < p.length; i++) {
                  res.push(f * p[i]);
              }
              return res;
          };
          // add points as vectors
          var pp = function(p1, p2) {
              var res = [];
              for(var i = 0; i < Math.min(p1.length, p2.length); i++) {
                  res.push(p1[i] + p2[i]);
              }
              return res;
          };
          
          // set original coefficients: b[i][0] = points[i]
          for(var i = 0; i <= n; i++) {
              points[i] = (typeof points[i] == "object") ? points[i] : [points[i]];
              b.push([ points[i] ]);
          }
          // get all coefficients
          for(var j = 1; j <= n; j++) {
              for(var i = 0; i <= (n-j); i++) {
                  b[i].push( pp(
                          pf(b[i][j-1], t1),
                          pf(b[i+1][j-1], t0)
                  ));
              }
          }
          // set result: res1 & res2
          for(var j = 0; j <= n; j++) {
              res1.push(b[0][j]);
              res2.push(b[j][n-j]);
          }
          
          return [res1, res2];
      };

      window.requestAnimFrame = (function(callback) {
        return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame ||
        function(callback) {
          window.setTimeout(callback, 1000 / 60);
        };
      })();


      function drawPlane(planePosition, context) {
        var sourceX = 0;
        var sourceY = 0;
        var sourceWidth = 75;
        var sourceHeight = 75;
        var destWidth = planePosition.width;
        var destHeight = planePosition.height;
        var destX = planePosition.x - destWidth/2;
        var destY = planePosition.y - destHeight/2;

        context.save();
        context.translate(planePosition.x,planePosition.y); // to get it in the origin
        context.rotate(planePosition.angle); //rotate in origin
        context.drawImage(planePosition.img, 
            sourceX, sourceY, 
            sourceWidth, sourceHeight, 
            destX-planePosition.x, destY-planePosition.y, 
            destWidth, destHeight);
        context.restore();

      }

      function drawMap(mapPosition, context){
        // draw cropped image
        var sourceX = mapPosition.x;
        var sourceY = mapPosition.y;
        var sourceWidth = mapPosition.owidth;
        var sourceHeight = mapPosition.oheight;
        var destWidth = mapPosition.width;
        var destHeight = mapPosition.height;
        var destX = 0;
        var destY = 0;
        context.drawImage(mapImage, sourceX, sourceY, sourceWidth, sourceHeight, destX, destY, destWidth, destHeight);
        
      }

      function drawCities(citiesPosition, reached, context){
        for(c in citiesPosition){
          var city = citiesPosition[c];
          context.beginPath();
          context.arc(city.x*mapPosition.zoom - mapPosition.x*mapPosition.zoom
                    , city.y*mapPosition.zoom - mapPosition.y*mapPosition.zoom
                    , 7, 0, 2 * Math.PI, false);
          context.fillStyle = '#57adff';
          context.shadowColor = '#000';
          context.shadowBlur = 5;
          context.shadowOffsetX = 2;
          context.shadowOffsetY = 2;
          context.fill();
          // context.lineWidth = 5;
          // context.strokeStyle = '#fc5300';
          // context.stroke();

          if(c < reached){
            var cityOffset = 20;
            context.font="23px Rupture";
            context.lineWidth = 1;
            context.strokeStyle = '#80Abb2';
            // context.fillStyle = '#709ba2';
            context.strokeStyle = '#709ba2';
            context.fillStyle = '#333';
            context.shadowColor = '#fff';
            context.shadowBlur = 10;
            
            context.strokeText(city.name,city.x*mapPosition.zoom - mapPosition.x*mapPosition.zoom + cityOffset,city.y*mapPosition.zoom - mapPosition.y*mapPosition.zoom - cityOffset);
            context.fillText(city.name,city.x*mapPosition.zoom - mapPosition.x*mapPosition.zoom + cityOffset,city.y*mapPosition.zoom - mapPosition.y*mapPosition.zoom - cityOffset);
          }
        }
      }

      function drawPlanePath(planePosition,citiesPosition,last,context){
        // 

        context.beginPath();
        context.save();
        context.moveTo(citiesPosition[0].x*mapPosition.zoom - mapPosition.x*mapPosition.zoom ,
                       citiesPosition[0].y*mapPosition.zoom - mapPosition.y*mapPosition.zoom);
        context.setLineDash([8,5]);
        context.lineWidth = 3;
        // context.strokeStyle = '#fc5300';
        context.globalCompositeOperation = "multiply";
        context.strokeStyle = '#333';
        context.shadowColor = '#000';
        context.shadowBlur = 5;
        context.shadowOffsetX = 2;
        context.shadowOffsetY = 2;

        for(var i = 1 ; i < last ; i++){
             // context.lineTo(citiesPosition[i].x- mapPosition.x,
             //                          citiesPosition[i].y- mapPosition.y);
            
            context.quadraticCurveTo(citiesPosition[i-1].cp.x*mapPosition.zoom - mapPosition.x*mapPosition.zoom
                                     ,citiesPosition[i-1].cp.y*mapPosition.zoom - mapPosition.y*mapPosition.zoom
                                     , citiesPosition[i].x*mapPosition.zoom- mapPosition.x*mapPosition.zoom
                                     , citiesPosition[i].y*mapPosition.zoom- mapPosition.y*mapPosition.zoom
                                     
                                     );
        }
        if(planePosition.visible && last < citiesPosition.length){
          // context.lineTo(planePosition.x,planePosition.y);

          
          context.quadraticCurveTo(planePosition.cp.x
                                  ,planePosition.cp.y
                                  , planePosition.x
                                  , planePosition.y
                                     );
          // context.quadraticCurveTo(citiesPosition[last-1].cp.x - mapPosition.x
          //                            ,citiesPosition[last-1].cp.y - mapPosition.y
          //                            , planePosition.x
          //                            , planePosition.y
          //                            );
        

        }
        context.stroke();
        context.restore();
      }

      function animate(planePosition, canvas, context, startTime) {
        // update
        var time = Game.t;//
        // var time = (new Date()).getTime() - startTime;
        // console.log('animation running');
        var start = 0;
        var finish = 3;
        var t = 0;
        var angle = 0;
        var controlPoint = {x:0,y:0};
        var step = 0;
        if(time > step1+step2+step3+step4+step5) {
          finish = 6;
          endMapAnimation = true;

          // drawMap(mapPosition, context);
          // drawPlanePath(planePosition,citiesPosition,finish,context);
          // drawCities(citiesPosition, finish, context);
          // drawPlane(planePosition, context);
          // finishMapAnimation();
          clearInterval(loster);
          $('.container').addClass('win');
          console.log("END OF THINGS !");
          return ;
        }else if(time > step1+step2+step3+step4){
           start = 4;
           finish = 5;
           t = (time - step1 - step2 - step3 - step4)/step5;
           angle = Math.PI/4;
           step = 5;
        }else if(time > step1+step2+step3){
           start = 3;
           finish = 4;
           t = (time - step1 - step2 - step3)/step4;
           angle = Math.PI/4;
           step = 4;
        }else if(time > step1+step2){
           start = 2;
           finish = 3;
           t = (time - step1 - step2)/step3;
           angle = Math.PI/4;
           step = 3;
        }else if(time > step1){
          start = 1;
          finish = 2;
          t = (time - step1)/step2;
          angle = Math.PI/4;
          step = 2;
        }else{
          start = 0;
          finish = 1;
          t = (time )/step1;
          angle = Math.PI/4;
          step = 1;
        }

        // planePosition.t = Math.easeInOutQuad(t, 0, 1, 1);
        // planePosition.t = Math.easeInOutSine(t, 0, 1, 1);
        planePosition.t = t;

        planePosition.x = (Math.bezier(planePosition.t, citiesPosition[start].x, citiesPosition[finish].x, citiesPosition[finish-1].cp.x) - mapPosition.x )*mapPosition.zoom;
        planePosition.y = (Math.bezier(planePosition.t, citiesPosition[start].y, citiesPosition[finish].y, citiesPosition[finish-1].cp.y) - mapPosition.y )*mapPosition.zoom;
        
        var np = Math.casteljau([
            [ citiesPosition[finish-1].x*mapPosition.zoom - mapPosition.x*mapPosition.zoom,
              citiesPosition[finish-1].y*mapPosition.zoom - mapPosition.y*mapPosition.zoom
            ],
            [ citiesPosition[finish-1].cp.x*mapPosition.zoom - mapPosition.x*mapPosition.zoom,
              citiesPosition[finish-1].cp.y*mapPosition.zoom - mapPosition.y*mapPosition.zoom
            ],
            [ citiesPosition[finish].x*mapPosition.zoom - mapPosition.x*mapPosition.zoom,
              citiesPosition[finish].y*mapPosition.zoom - mapPosition.y*mapPosition.zoom
            ]], planePosition.t)[0];

        planePosition.cp = {x:np[1][0],y:np[1][1]}
        if(step < 6){
          planePosition.angle = Math.atan2(planePosition.y-planePosition.cp.y,planePosition.x - planePosition.cp.x) + angle;
        }else{
          //cas hélico
          planePosition.angle = angle;
        }

        planePosition.visible = true;
        
        
        // clear
        context.clearRect(0, 0, canvas.width, canvas.height);

        drawMap(mapPosition, context);
        drawPlanePath(planePosition,citiesPosition,finish,context);
        drawCities(citiesPosition, finish, context);
        drawPlane(planePosition, context);
        
        if(endMapAnimation) {
          console.log('animation stopped');
          return;
        }

        // request new frame
        requestAnimFrame(function() {
          animate(planePosition, canvas, context, startTime);
        });
      }


      var canvas = document.getElementById('travel');
      var context = canvas.getContext('2d');

      

      // var mapPosition = {
      //   x: 130,
      //   y: 200,
      //   owidth: 911*0.95,
      //   oheight: 610*0.95,
      //   width: 911,
      //   height: 610,
      //   zoom:2.6,
      //   ozoom:1
      // }
      var mapPosition = {
        x: 0,
        y: 0,
        owidth: 1581,//3790,
        oheight: 1051,//2503,
        width: 111,
        height: 610,
        zoom:0.65,
        ozoom:1
      }

      var winStep = 100;

      var step1 = 4000;
      var step2 = 2000;
      var step3 = 2500;
      var step4 = 3000;
      var step5 = 4500;

      var decay1 = 10;
      var decay2 = 20;
      var decay3 = 20;
      var decay4 = 25;
      var decay5 = 35;
      var decayMiss = 20;
      var decayDelay = 50;

      var citiesPosition = [
          {name: "Paris",
           x : 1918-530,
           y : 1156-700,
           cp : {x:1515-530,y:1082-700}
          },
          {name: "New York",
           x : 1113-530,
           y : 1271-700,
           cp : {x:1000-530,y:1340-700}
          },
          {name: "New Orleans",
           x : 953-530,
           y : 1401-700,
           cp : {x:921-530,y:1377-700}
          },
          {name: "Los Angeles",
           x : 654-530,
           y : 1354-700,
           cp : {x:813-530,y:1191-700}
          },
          {name: "Chicago",
           x : 970-530,
           y : 1248-700,
           cp : {x:1443-530,y:979-700}
          },
          {name: "Paris",
           x : 1918-530,
           y : 1156-700,
           cp : {x:919-530,y:477-700}
          },
      ];
      var planePosition = {
        x: citiesPosition[0].x,
        y: citiesPosition[0].y,
        t: 0,
        width: 30,
        height: 30,
        angle: -Math.PI/4,
        img: planeImage,
        visible: false,
        cp: {x:0,y:0}
      };


      function startMapAnimation(){
        console.log("starting animation")
        var startTime = (new Date()).getTime();
        endMapAnimation = false;
        animate(planePosition, canvas, context, startTime);
      }

      function initAnim(){
        console.log('anim inited')
        var window_size = jQuery("#travel").width();
        var window_height = jQuery("#travel").height();
        jQuery("#travel").attr("width", window_size);
        jQuery("#travel").attr("height", window_height );

        var original_ratio = mapPosition.owidth/mapPosition.oheight;
        var screen_ratio = window_size/window_height;

        mapPosition.width = mapPosition.owidth*mapPosition.zoom;
        mapPosition.height = mapPosition.oheight*mapPosition.zoom;

        // if(screen_ratio > original_ratio){
        //   console.log("cas 1");
        //   mapPosition.ozoom = mapPosition.zoom = window_size/mapPosition.owidth;
        //   mapPosition.width = window_size;
        //   mapPosition.height = mapPosition.oheight*mapPosition.zoom;
        //   mapPosition.y = (mapPosition.height - window_height)/2;
        // }else{
        //   console.log("cas 2");
        //   mapPosition.ozoom = mapPosition.zoom = window_height/mapPosition.oheight;
        //   mapPosition.width = mapPosition.owidth*mapPosition.zoom;
        //   mapPosition.height = window_height;
        //   mapPosition.x = (mapPosition.width - window_size)/2
        // }
        setTimeout(function(){
          drawMap(mapPosition, context);
          drawCities(citiesPosition, 1, context);
          startMapAnimation();
          // staticMapAnimation();
        },50);
      }

      var planeLoaded = false;
      var mapLoaded = false;
      var animInited = false;

      var mapImage = new Image();
      var planeImage = new Image();
      

      planeImage.onload = function(){
        planeLoaded = true;
        planePosition.img = planeImage;
        console.log('plane loaded');
        if(mapLoaded && !animInited){
          animInited = true;
          initAnim();
        }
      }
      planeImage.src = '/img/plane.svg';

      mapImage.onload = function() {
        mapLoaded = true;
        console.log('map loaded')
        if(planeLoaded && !animInited){
          animInited = true;
          initAnim();
        }
      }
      mapImage.src = '/img/mercator-cropped.png';

      var Game = {
        t:0,
        turn:"sarah"
      }

      $(document).on('click','.personne', function(){
        // $('.container').addClass('win');
        return false;
      });

      $(document).on('touchstart', '.personne', function(){
          var turn = $(this).data("turn");
          delegateTurn(turn);
      });

      $(document).keydown(function(e) {
          if(e.keyCode == 74){
            delegateTurn("julien");
            e.preventDefault();
            return false;
          }
          if(e.keyCode == 83){
            e.preventDefault();
            delegateTurn("sarah");
            return false;
          }
      });

      function delegateTurn(turn){
        if( turn == Game.turn){
          if(Game.t > step1+step2+step3+step4+step5) {
            Game.t = step1+step2+step3+step4+step5+1;
          }else if(Game.t > step1+step2+step3+step4){
            Game.t = Math.max(Game.t-decayMiss,step1+step2+step3+step4+1);
          }else if(Game.t > step1+step2+step3){
            Game.t = Math.max(Game.t-decayMiss,step1+step2+step3+1);
          }else if(Game.t > step1+step2){
            Game.t = Math.max(Game.t-decayMiss,step1+step2+1); 
          }else if(Game.t > step1){
            Game.t = Math.max(Game.t-decayMiss,step1+1);
          }else{
            Game.t = Math.max(Game.t-decayMiss,0);
          }
        }else{
          Game.t += winStep;  
          Game.turn = turn;
        }
      }

      function launchWind(){
        return setInterval(function(){
          if(Game.t > step1+step2+step3+step4+step5) {
            Game.t = step1+step2+step3+step4+step5+1;
            clearInterval(loster);
            return ;
          }else if(Game.t > step1+step2+step3+step4){
            Game.t = Math.max(Game.t-decay5,step1+step2+step3+step4+1);  
          }else if(Game.t > step1+step2+step3){
            Game.t = Math.max(Game.t-decay4,step1+step2+step3+1);  
          }else if(Game.t > step1+step2){
            Game.t = Math.max(Game.t-decay3,step1+step2+1); 
          }else if(Game.t > step1){
            Game.t = Math.max(Game.t-decay2,step1+1);
          }else{
            Game.t = Math.max(Game.t-decay1,0);
          }
        },decayDelay);
      }

      var loster = launchWind();

      $(document).on('click', '.replay', function(e){
        $(".container").removeClass('win');
        Game.t = 0;
        loster = launchWind();
        startMapAnimation();
        e.preventDefault();
      });


</script>


<style>

.container{
  min-height: 680px;
}

.personne{
  position:absolute;
  width:150px;
  height:150px;
  border-radius: 150px;
  background-color: white;
  box-shadow: 2px 2px 5px #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition:transform 2.5s ease-in-out;
  -webkit-transition:-webkit-transform 2.5s ease-in-out;
}

.personne:focus{
  box-shadow: -2px -2px 5px #000;
}

.sarah{
  top:50%;
  margin-top:180px;
  left:50%;
  margin-left:-480px;
  background-image: url(/img/sarah.png);
  background-position: -10px 0px;
  transform:scale(0.666);
  -webkit-transform:scale(0.666);
}
.julien{
  top:50%;
  margin-top:180px;
  left:50%;
  margin-left:330px;
  background-image: url(/img/julien.png);
  transform:scale(0.666);
  -webkit-transform:scale(0.666);
}

.win-text{
  display:block;
  opacity: 0;
  position: absolute;
  top:50%;
  margin-top:-150px;
  font-family: Rupture;
  font-size: 100px;
  width:100%;
  text-align: center;
  text-shadow: 2px 2px 5px #000;
  transition:opacity 1.5s ease-out;
  color:#0094d8;
}

.replay{
  display:block;
  opacity: 0;
  position: absolute;
  top:50%;
  margin-top:100px;
  font-family: Rupture;
  font-size: 50px;
  width:100%;
  text-align: center;
  text-shadow: 2px 2px 5px #000;
  transition:opacity 1.5s ease-out;
  text-decoration: none;
  color:#ff7333;
}

.win .win-text,
.win .replay
{
  opacity: 1; 
}

.expl-text{
  font-size: 25px;
  position: absolute;
  top:50%;
  margin-top: 200px;
  width:600px;
  left:50%;
  margin-left: -300px;
  text-align: center;
  text-shadow: 2px 2px 5px #ff7333;
}


.win .julien{
  -webkit-transform:scale(1) translate(-340px,-250px) rotate(10deg);
  transform:scale(1) translate(-340px,-250px) rotate(10deg);
}
.win .sarah{
  -webkit-transform:scale(1) translate(340px,-250px) rotate(-10deg);
  transform:scale(1) translate(340px,-250px) rotate(-10deg);
}

</style>
</body>
</html>