<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1024">
  <title>Sarah &amp; Julien 2015</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fonts/rupture.css">
  <link rel="stylesheet" href="/css/sj2015.css">
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/sj2015.js"></script>
</head>
<body class="loading">
<div class="container">

  <section class="natavideo">
    <video src="/upload/video/frequenstaranat.mp4" controls></video>

  </section>
  <div class="photo-credits">
    Merci à NataHélène et à Hugues Derolez !
  </div>
</body>
</html>