/*
blue:0094d8;
orange: ff7333;
*/
html,body{
  height:100%;
}
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  font-family: Rupture;
  
}
.container{
  position: absolute;
  height:100%;
  width: 100%;
  background-image: url(../img/pattern.png);
  background-size:200px;
  background-position: 100px 0;
  overflow: hidden;
}

.invitation{
  height:600px;
  width:800px;
  
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -400px;
  margin-top: -300px;
  overflow: hidden;
}
.languette{
  position: absolute;
  left:0px;
  width:100px;
  height:500px;
  background: white;
}
.ticket{
  position: absolute;
  left:100px;
  width:700px;
  height:500px;
  background: white;
  transition: transform 0.4s ease-in-out 1.4s;
  -webkit-transition: -webkit-transform 0.4s ease-in-out 1.4s;
  transform: translate(10px,0px);
  -webkit-transform: translate(10px,0px);
}

.invitation .person{
  height:500px;
  width:300px;
  position: absolute;
  background-size:300px;
  background-repeat: no-repeat;
  opacity:1;
  top:30px;
  transition: transform 1.4s ease-in-out, opacity 1.4s ease-in-out;
  -webkit-transition: -webkit-transform 1.4s ease-in-out, opacity 1.4s ease-in-out;
  font-size:80px;
  color:#0094d8;
  mix-blend-mode:multiply;
}

.invitation .person .name{
  position:absolute;
  bottom:50px;
}

.invitation .sarah{
  background-image: url(../img/sarah.png);
  left:20px;
  transform: translate(20px,0px);
  -webkit-transform: translate(20px,0px);
}

.invitation .sarah .name{
  margin-bottom: 50px;
  left: 50px;
}

.invitation .julien{
  background-image: url(../img/julien.png);
  right:80px;
  margin-top:3px;
  transform: translate(-20px,0px);
  -webkit-transform: translate(-20px,0px);
}

.invitation .esper {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 323px;
  /*mix-blend-mode: multiply;*/
  left: 50%;
  margin-left: -145px;
  background-image: url(../img/esper.png);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.4s ease-in-out 0.8s;
  opacity: 0.9;
}

.languette .infos{
  transform:rotate(90deg) translate(-100px, 0px);
  -webkit-transform:rotate(90deg) translate(-100px, 0px);
  transform-origin: left bottom 0;
  -webkit-transform-origin: left bottom 0;
  font-size: 50px;
  color:#0094d8;
  width:500px;
  text-align: center;
  height: 100px;
  line-height: 100px;
  opacity: 1;
  transition: opacity 0.4s ease-in-out 1.8s;
}

.home-menu{
  position: absolute;
  background: white;
  bottom:0;
  width:100%;
  height:80px;
  text-align: center;
  font-size: 40px;
  line-height: 80px;
  color:#ff7333;
}

.home-menu a{
  color: #0094d8;
}

/* LOADING */

.loading .invitation .sarah{
  transform: translate(-50px,0px);
  -webkit-transform: translate(-50px,0px);
  opacity:0;
}
.loading .invitation .julien{
  transform: translate(50px,0px);
  -webkit-transform: translate(50px,0px);
  opacity:0;
}

.loading .invitation .esper{
  opacity:0;
}

.loading .ticket{
  transform: translate(0px,0px);
  -webkit-transform: translate(0px,0px);
}
.loading .languette .infos{
  opacity: 0;  
}

/* travel map */
.travel-map{
  height:660px;
  width:980px;
  
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -490px;
  margin-top: -330px;
  overflow: hidden;
  background: white;
}

/* photos */
.photos{
  height:600px;
  width:800px;
  background: white;
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -400px;
  margin-top: -330px;
  overflow: hidden;
}

.photos .carousel{
  width: 100%;
  height:100%;
}

.photos .single_photo{
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 800px;
  height:600px;
}

.photos .carousel-caption{
  bottom:5px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.photo-credits{
  position: absolute;
  width:100%;
  text-align: center;
  bottom: 30px;
}

.emission{
  height:600px;
  width:800px;
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -400px;
  margin-top: -300px;
  overflow: hidden;
}

.emission .visualisation{
  margin-top:200px;
  background-color: white;
}

.emission .controls{
  width:100%;
  font-size:30px;
  text-align: center;
  line-height: 60px;
}

.emission .controls .control{
  background-color: white;
  width:50px;
  height:50px;
  border-radius: 50px;
  display: inline-block;
  border:2px solid #ff7333;
  
}
.emission .controls .control i.glyphicon-play{
  margin-left: 4px;
}

.natavideo{
  height:405px;
  width:720px;
  background: black;
  position: absolute;
  top:50%;
  left:50%;
  margin-top: -202px;
  margin-left: -360px;
  overflow: hidden;
}

.natavideo video{
  max-width:100%;
  max-height:100%;
}
